html, body {
  background-color: #F2F2F7;
}

// html body.has-full-page-chat #main-outlet {
body.has-full-page-chat #main-outlet {
  width: 100% !important;
  padding: 0 !important;
  background-color: var(--secondary) !important;
}
